@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-light: #f5f5f5;
    --background-dark: #0A0A0A;
    --dark-grey: #2A2D31;
    --grey: #374151;
    --grey-translucent: rgb(55, 65, 81, 0.3);
    --primary: #2563eb;
    --secondary: #00C2B5;
    --accent: #C02EFF;
    --accent-light: #C94DFE;
}

html, body {
    height: 100%;
    width: 100%;
    position: relative !important;
    background-color: var(--background-light);
    color: black;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.back-button-1 {
    background-color: red;
}

/* #navbar {
    width: 100vw !important;
} */

#category-select {
    background-image: url('./assets/dropdown-arrow-black.png') !important;
    background-position-x: 95% !important;
    background-position-y: center !important;
    background-repeat: no-repeat !important;
    background-size: 10px !important;
}

#search-bar-query-normal {
    font-size: small !important;
}

select, option {
    appearance: none;
    border: solid 1px var(--background-light) !important;
    background-color: var(--background-light) !important;
    outline: var(--background-light) !important;
}
select:hover, option:hover {
    background-color: #DEDEDE !important;
}


input {
    background-color: white;
    color: black;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--background-dark);
        color: white;
    }

    #category-select {
        background-image: url('./assets/dropdown-arrow-white.png') !important;
    }

    select, option {
        border: solid 1px var(--background-dark) !important;
        background-color: var(--background-dark) !important;
        outline: var(--background-dark) !important;
    }
    select:hover, option:hover {
        background: rgb(0, 0, 0, 0.3);
        background-color: var(--grey-translucent) !important;
        background : 0.3;
    }
}

@media (min-width: 0px) {
    p, a, label, select, option, input {
        font-size: small;
    }
}

@media (min-width: 640px) {
    p, a, label, select, option, input {
        font-size: medium;
    }
}

@media (min-width: 768px) {
    p, a, label, select, option, input {
        font-size: large;
    }
}